@media print {

    #list-toc-generated {
        overflow: hidden;
    }

    #list-toc-generated .toc-element::after {
        content: "...........................................";
        float: left;
        width: 0;
        padding-left: 5px;
        letter-spacing: 2px;
    }

    #list-toc-generated .toc-element {
        display: flex;
    }

    #list-toc-generated .toc-element a::after {
        position: absolute;
        right: 0;
        padding-left: 6px;
    }

    #list-toc-generated .toc-element a {
        left: 0;
        text-align: left;
    }



}

